/* System */

.vp-doc a {
  text-decoration: none;
}

.vp-doc h1 > .VPBadge,
.vp-doc h2 > .VPBadge,
.vp-doc h3 > .VPBadge,
.vp-doc h4 > .VPBadge {
  vertical-align: middle;
}

.logo {
  margin-left: 2px;
}

.medium-zoom-overlay {
  z-index: 50;
}

.medium-zoom-image {
  z-index: 100 !important;
}

.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6{
  overflow: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  margin: 0 auto;
}

a,
img {
  user-drag: none;
  -ms-user-drag: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
}

img {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

th,
td {
  min-width: 72px;
}

th img,
td img {
  max-width: 64px;
}

/* Custom - Item Description */

@media only screen and (max-width: 639px) {
  .infobox {
    float: right;
  
    width: 200px;
    margin: 0 0 16px 16px;
    border: 1px solid var(--vp-c-text-3);
    border-radius: 4px;
  }

  .infobox > h3 {
    margin: 0;
    padding: 16px 10px;
    border-radius: 2px 2px 0 0;

    background: var(--vp-c-tip-soft);
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }

  .infobox > figure {
    margin: 0;
    
    border-top: 1px solid var(--vp-c-text-3);
    border-bottom: 1px solid var(--vp-c-text-3);
  }

  .infobox > figure > img {
    width: 75%;
  }
  .desc-item {
    display: flex;
    margin: 0;
    padding: 4px 8px;

    border-bottom: 1px solid var(--vp-c-text-3);
  }

  .desc-item > h3 {
    display: flex;
    flex-basis: 90px;
    
    margin: 0;
    padding: 0;

    line-height: 2;
    font-size: 14px;
    font-weight: bold;
  }

  .desc-item > a,
  .desc-item > p {
    display: flex;
    
    margin: 0;
    padding: 0;

    line-height: 2;
    font-size: 14px;
    font-weight: bold;
  }


  .desc-title {
    margin: 0;
    padding: 8px;
    border-radius: 2px 2px 0 0;

    background: var(--vp-c-tip-soft);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    
    border-bottom: 1px solid var(--vp-c-text-3);
  }

  .desc-content {
    margin: 0;
    padding: 8px;

    text-align: left;
    font-size: 14px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .infobox {
    float: right;
  
    width: 240px;
    margin: 0 0 16px 16px;
    border: 1px solid var(--vp-c-text-3);
    border-radius: 4px;
  }

  .infobox > h3 {
    margin: 0;
    padding: 16px 10px;
    border-radius: 2px 2px 0 0;

    background: var(--vp-c-tip-soft);
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }

  .infobox > figure {
    margin: 0;
    
    border-top: 1px solid var(--vp-c-text-3);
    border-bottom: 1px solid var(--vp-c-text-3);
  }

  .infobox > figure > img {
    width: 75%;
  }

  .desc-item {
    display: flex;
    margin: 0;
    padding: 4px 8px;

    border-bottom: 1px solid var(--vp-c-text-3);
  }

  .desc-item > h3 {
    display: flex;
    flex-basis: 90px;
    
    margin: 0;
    padding: 0;

    line-height: 2;
    font-size: 14px;
    font-weight: bold;
  }

  .desc-item > a,
  .desc-item > p {
    display: flex;
    
    margin: 0;
    padding: 0;

    line-height: 2;
    font-size: 14px;
    font-weight: bold;
  }

  .desc-title {
    margin: 0;
    padding: 8px;
    border-radius: 2px 2px 0 0;

    background: var(--vp-c-tip-soft);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    
    border-bottom: 1px solid var(--vp-c-text-3);
  }

  .desc-content {
    margin: 0;
    padding: 8px;

    text-align: left;
    font-size: 14px;
  }
}

@media only screen and (min-width: 1024px) {
  .infobox {
    float: right;
  
    width: 280px;
    margin: 0 0 16px 16px;
    border: 1px solid var(--vp-c-text-3);
    border-radius: 4px;
  }

  .infobox > h3 {
    margin: 0;
    padding: 16px 10px;
    border-radius: 2px 2px 0 0;

    background: var(--vp-c-tip-soft);
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }

  .infobox > figure {
    margin: 0;
    
    border-top: 1px solid var(--vp-c-text-3);
    border-bottom: 1px solid var(--vp-c-text-3);
  }

  .infobox > figure > img {
    width: 75%;
    padding: 8px 0;
  }

  .desc-item {
    display: flex;
    margin: 0;
    padding: 4px 8px;

    border-bottom: 1px solid var(--vp-c-text-3);
  }

  .desc-item > h3 {
    display: flex;
    flex-basis: 90px;
    
    margin: 0;
    padding: 0;

    line-height: 2;
    font-size: 14px;
    font-weight: bold;
  }

  .desc-item > a,
  .desc-item > p {
    display: flex;
    
    margin: 0;
    padding: 0;

    line-height: 2;
    font-size: 14px;
    font-weight: bold;
  }

  .desc-title {
    margin: 0;
    padding: 8px;
    border-radius: 2px 2px 0 0;

    background: var(--vp-c-tip-soft);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    
    border-bottom: 1px solid var(--vp-c-text-3);
  }

  .desc-content {
    margin: 0;
    padding: 8px;

    text-align: left;
    font-size: 14px;
  }
}
