/* Global */

.vp-doc a {
  text-decoration: none;
}

.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6{
  overflow: auto;
}

.vp-doc h1 > .VPBadge,
.vp-doc h2 > .VPBadge,
.vp-doc h3 > .VPBadge,
.vp-doc h4 > .VPBadge,
.vp-doc h5 > .VPBadge,
.vp-doc h6 > .VPBadge{
  vertical-align: middle;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  margin: 0 auto;
}

a,
img {
  -ms-user-drag: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
  
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

th,
td {
  min-width: 128px;
}

th img,
td img {
  max-width: 96px;
}
